h1 {
    margin: 2%;
    margin: 15px 25px 50px
}

div{
    margin-left: 2%;
    margin: 15px;
}

p {
    margin: 25px;
}

button{
    margin-bottom: 25px;
}

.navbar-brand{
    margin-left: 20px;
}


