<style>
  body {background-color:rgb(148, 149, 150)}
  h1   {color:blue}
  p    {color:rgb(211, 94, 40)}
</style>

<div>
  <h1 id="name"></h1>
  <p id="line0"></p>
  <p id="line1"></p>
  <p id="line2"></p>
  <p id="line3"></p>
  <p id="line4"></p>
  <p id="line5"></p>
  <p id="line7"></p>
  <p id="line8"></p>
  <p id="line9"></p>
  <p id="line10"></p>
  <p id="line11"></p>
  <img id="img0" />
  <img id="img1" />
  <img id="img2" />
  <img id="img3" />
  <iframe id="imageFrame" src="" width="500px" height="500px"></iframe>
</div>