<style>
  body {background-color:rgb(182, 186, 184)}
  h1   {color:rgb(0, 47, 255)}
  p    {color:rgb(5, 5, 1)}
</style>

<div>
  <h1 id="name"></h1>
  <p id="line0"></p>
  <p id="line1"></p>
  <p id="line2"></p>
  <p id="line3"></p>
  <p id="line4"></p>
  <p id="line5"></p>
  <p id="line7"></p>
  <p id="line8"></p>
  <p id="line9"></p>
  <p id="line10"></p>
  <p id="line11"></p>
  <img id="img0" />
  <img id="img1" />
  <img id="img2" />
  <img id="img3" />
  <iframe id="imageFrame" src="" width="500px" height="500px"></iframe>
</div>

<!-- example if image from web -->
<!-- src=https://cdn.pixabay.com/photo/2022/01/31/12/46/bird-6983434_640.jpg" -->